<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
  
<servers>
  <server>
    <id>devops-vprofile-maven-central-store</id>
    <username>aws</username>
    <password>${env.CODEARTIFACT_AUTH_TOKEN}</password>
  </server>
</servers>
<profiles>
  <profile>
    <id>devops-vprofile-maven-central-store</id>
    <activation>
      <activeByDefault>true</activeByDefault>
    </activation>
    <repositories>
      <repository>
        <id>devops-vprofile-maven-central-store</id>
        <url>https://devops-vprofile-783764615906.d.codeartifact.eu-west-1.amazonaws.com/maven/maven-central-store/</url>
      </repository>
    </repositories>
  </profile>
</profiles>
<activeProfiles>
        <activeProfile>devops-vprofile-maven-central-store</activeProfile>
    </activeProfiles>
<mirrors>
  <mirror>
    <id>devops-vprofile-maven-central-store</id>
    <name>devops-vprofile-maven-central-store</name>
    <url>https://devops-vprofile-783764615906.d.codeartifact.eu-west-1.amazonaws.com/maven/maven-central-store/</url>
    <mirrorOf>*</mirrorOf>
  </mirror>
</mirrors>
</settings>
